## Public Data

In [12]:
!wget https://github.com/MrNaveedgit/Google-Colab-Material/blob/main/flights.csv

--2022-03-05 11:27:02--  https://github.com/MrNaveedgit/Google-Colab-Material/blob/main/flights.csv
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘flights.csv’

flights.csv             [ <=>                ] 209.88K  --.-KB/s    in 0.1s

2022-03-05 11:27:02 (1.60 MB/s) - ‘flights.csv’ saved [214920]

## Google Drive

In [1]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

## Local Drive

In [3]:
import pandas as pd

pd.read_csv("flights.csv").head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121